@mixin board-theme($theme) {
  $alternative-background-color: map-get($theme, "alternative-background-color");

  .board {
    .background {
      background-color: $alternative-background-color;
    }
  }
}

.level-indicator {
  background-color: #f0f0f073;
  border-radius: 2px;
  padding: 8px 4px;

}

.arrow {
  background-color: #f0f0f073;
  border-radius: 2px;
  font-size: 0.7em;
  padding: 8px 6px;

}
