@mixin board-theme($theme) {
  $alternative-background-color: map-get($theme, "alternative-background-color");

  .board {
    .background {
      background-color: $alternative-background-color;
    }

  }

  .correct-answer {
    background-color: #006b00;
    border-radius: 4px;
    text-align: center;
    transition: all ease 0.3s;
  }
}
