.level-container {
  padding: 7px 28px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.level-text{
  display: inline;
  padding: 8px 20px;
}

.arrow {
  border-radius: 2px;
  padding: 8px 16px;
  margin-left: 5px;
  margin-right: 5px;
}
.modal-levels {
  width: 190px;
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  padding: 12px;
  position: absolute;
}
.modal-item {
  padding: 4px;
  margin: 4px;
  height: 32px;
  width: 32px;
  justify-content: center;
  align-items: center;
}
.close-modal{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.close-button{
  padding: 4px 8px;
}



