@mixin level-indicator-theme($theme) {

  $dark-color: map-get($theme, 'dark-color');
  $light-dark-color: map-get($theme, 'dark-light-color');
  $dark-font-color: map-get($theme, 'dark-font-color');
  $dark-button-color: map-get($theme, 'dark-button-color');


  .level-container {
    background-color: $dark-color;


    .arrow {
      cursor: pointer;
      background-color: $dark-button-color;
      font-size: 1em;
      font-weight: bold;

    }

    .arrow:hover {
      background-color: #9e9e9ea4;
    }

    .level-text {
      cursor: pointer;
    }

    .currentLevel {
      color: #b8ebfa;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}
