<!-- <div *ngFor="let l of levels; let i = index">{{i}}</div> -->

<div
    class="level-container"

>
    <span
        class="arrow"
        (click)="previousLevel()"
    >
        &lt;&lt;
    </span>
    <div class="level-text" (click)="showAllLevels()">
        Level
        <span class="currentLevel">{{currentLevel}}</span>
        of         {{maxLevel}}
    </div>
    <span
        class="arrow arrow_right"
        (click)="nextLevel()"
    >
        &gt;&gt;
    </span>

    <div class="modalLevels" *ngIf="modalLevels">
        <span *ngFor="let l of levels;let i = index">{{i}}</span>
    </div>
</div>
